<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Houses</title>
</head>
<body>
  <h1>shirts:</h1>
  <div class="container">
    <% inventory.each do |item| %>
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <h2><%= item.item %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="<%= item.url %>">
        </div>
        <div class="col-md-6">
          <h4>Price: $<%= item.price %></h4>
          <% if item.quantity > 0 %>
            <h4>Quantity Available: <%= item.quantity %></h4>
            <form action="/shirt/<%= item.id %>" method="GET">
              <button>BUY</button>
            </form>
          <% else %>
            <h2>SOLD OUT!!!!!</h2>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
